/* You can add global styles to this file, and also import other style files */
.ng-invalid.ng-touched {
  border-color: orangered;
}

[data-notify="container"] {
  z-index: 1060 !important;
}

.paginate_button {
  border-radius: 50px !important;
}

.swal2-cancel {
  margin: 10px
}

.fa {
  padding: 2px;
}
